/*ESERCIZIO 1*/
.ex-1-square:hover {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #1ED760;
}

.ex-1-square {
  transition: all 1.5s;
}

/*ESERCIZIO 2*/
.ex-2-square:hover {
  cursor: pointer;
}

.ex-2-square:active {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #1ED760;
}

.ex-2-square {
  transition: all 2s;
}

/*ESERCIZIO 3*/
.ex-3-square:hover {
  border: 1px solid black;
  border-radius: 50%;
  background-color: #1ED760;
}

.ex-3-square {
  transition: all .5s;
}

/*ESERCIZIO 4*/
.ex-4-square:hover {
  opacity: 0;
}

.ex-4-square {
  transition: all 1.5s;
}

/*ESERCIZIO 5*/
.ex-5-square:hover {
  transform: scale(2);
  border: 1px solid black;
  background-color: #1ED760;
  cursor: pointer;
}

.ex-5-square:active {
  transform: scale(0.5);
  background-color: yellow;
  border: 1px solid black;
}

.ex-5-square {
  transition: all 1s;
}

/*ESERCIZIO 6*/
.ex-6-img:hover {
  filter: grayscale(1);
}

.ex-6-img {
  transition: all 0.5s;
}

/*ESERCIZIO 7*/
.ex-7-img:hover {
  filter: grayscale(0.5) sepia(0.5);
}

.ex-7-img {
  transition: all 1s;
}

/*ESERCIZIO 8*/
.ex-8-img:hover{
  filter: grayscale(0.5) sepia(0.5);
  border-radius: 15px;
}

.ex-8-img {
  transition: all 1.5s;
}

/*ESERCIZIO 9*/
.ex-9-img:hover {
  filter: grayscale(0.5) sepia(0.5);
  border-radius: 15px;
  transform: scale(1.5);
}

.ex-9-img {
  transition: all 2s;
}

/*ESERCIZIO 10*/
.ex-10-icon {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(1turn);
  }
}

/*ESERCIZIO 11*/
.ex-11-icon:hover {
  animation: less-spin 2s linear;
  text-shadow: 0 0 5px #1ED760;
}
@keyframes less-spin {
  0% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(320deg);
  }
  100% {
    transform: rotate(0);
  }
}

/*ESERCIZIO 12*/
.ex-12-button:hover .ex-12-top-white {
  animation: move-top 1.5s linear;
  text-shadow: 0 0 5px #1ED760;
}
@keyframes move-top {
  0% {
      left: 10%;
  }
  50% {
      left: calc(100% - 60px);
  }
  100% {
      left: 10%;
  }
}

.ex-12-button:hover .ex-12-bottom-white {
  animation: move-bot 1.5s linear;
}
@keyframes move-bot {
  0% {
      right: 20%;
  }
  50% {
      right: calc(100% - 60px);
  }
  100% {
      right: 20%;
  }
}

/*ESERCIZIO 13*/