/*ESERCIZIO 1*/
.ex-1-square:hover {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #1ED760;
}

.ex-1-square {
  transition: all 1.5s;
}

/*ESERCIZIO 2*/
.ex-2-square:hover {
  cursor: pointer;
}

.ex-2-square:active {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #1ED760;
}

.ex-2-square {
  transition: all 2s;
}

/*ESERCIZIO 3*/
.ex-3-square:hover {
  border: 1px solid black;
  border-radius: 50%;
  background-color: #1ED760;
}

.ex-3-square {
  transition: all .5s;
}

/*ESERCIZIO 4*/
.ex-4-square:hover {
  opacity: 0;
}

.ex-4-square {
  transition: all 1.5s;
}

/*ESERCIZIO 5*/
.ex-5-square:hover {
  transform: scale(2);
  border: 1px solid black;
  background-color: #1ED760;
  cursor: pointer;
}

.ex-5-square:active {
  transform: scale(0.5);
  background-color: yellow;
  border: 1px solid black;
}

.ex-5-square {
  transition: all 1s;
}

/*ESERCIZIO 6*/
.ex-6-img:hover {
  filter: grayscale(1);
}

.ex-6-img {
  transition: all 0.5s;
}

/*ESERCIZIO 7*/
