/*ESERCIZIO 1*/
.ex-1-square:hover {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #1ED760;
}

.ex-1-square {
  transition: all 1.5s;
}

/*ESERCIZIO 2*/
.ex-2-square:hover {
  cursor: pointer;
}

.ex-2-square:active {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #1ED760;
}

.ex-2-square {
  transition: 2s;
}

/*ESERCIZIO 3*/
.ex-3-square:hover {
  border: .5px solid black;
  border-radius: 50%;
  background-color: #1ED760;
}

.ex-3-square {
  transition: .5s;
}
